@import url("template/reset.css");

/* --------------Dashboard------------- */

.dashboard {
  position: relative;
  left: 230px;
  /* background-color: rgb(255, 255, 255); */
  height: 100vh;
  width: calc(100% - 230px);
}

/* TOP */

/* Content */

.overview {
  display: flex;
  flex-direction: column;
}

.text-box {
  background-color: #fff;
  padding: 20px;
  display: inline-block;

  font-size: 20px;
  line-height: 2;
  border-radius: 20px;
  margin-bottom: 40px;
}

.btn-exam {
  width: 120px;
}
