@import url('template/reset.css');

/* --------------Dashboard------------- */

.dashboard {
  position: relative;
  left: 150px;
  /* background-color: rgb(255, 255, 255); */
  height: 100vh;
  width: calc(100% - 150px);
}

/* TOP */

/* Content */

.overview {
  display: flex;
  flex-direction: column;
}

.text-box {
  background-color: #fff;
  padding: 20px;
  display: inline-block;

  font-size: 20px;
  line-height: 2;
  border-radius: 20px;
  margin-bottom: 40px;
}

.btn-exam {
  width: 120px;
  text-align: center;
}

@media screen and (max-width: 414px) {
  .text-box p {
    font-size: 17px;
  }

  .btn-exam {
    margin: 0 auto;
  }
}

@media screen and (max-width: 390px) {
}
