@import url('template/reset.css');

/* --------------Dashboard------------- */

.dashboard {
  position: relative;
  left: 150px;
  /* background-color: rgb(255, 255, 255); */

  height: 100vh;

  width: calc(100% - 150px);
}

/* ----------------- */

.title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.title .text {
  width: 50%;
  font-size: 14px;
  font-weight: 500;
  color: rgb(148, 148, 148);
  margin-left: 10px;
}

.dash-content .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.dash-content .boxes .box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  border-radius: 12px;
  width: calc(100% / 3 - 25px);
  padding: 30px 20px;
  background-color: white;
  /* border: 1px solid grey; */

  box-shadow: 10px 11px 27px -11px rgba(0, 0, 0, 0.39);
}

.boxes .box i {
  font-size: 21px;
  color: white;
}

.boxes .box .text {
  white-space: nowrap;
  font-size: 18px;
  color: rgb(113, 113, 113);
}

.boxes .box .number {
  white-space: nowrap;
  font-size: 80px;
  font-weight: 500;
}

/* -------------RecordBox--------------- */

.icon-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row-text-box {
  margin-left: 5px;
}

.text-box {
  display: flex;
}

.dash-testRecord {
  margin: 30px;
}

.record-bigBox {
  display: flex;
  gap: 10px;

  flex-shrink: 1;
}

.smallBox {
  background-color: white;
  width: 50%;
  box-shadow: 10px 11px 27px -11px rgba(0, 0, 0, 0.39);
  padding: 20px;
  border-radius: 10px;
  font-size: 15px;
  line-height: 1.6;
}

.record-rows {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/*  */

@media screen and (max-width: 414px) {
  .dash-content .boxes {
    gap: 5px;
  }
  .dash-content .boxes .box {
    width: 70px;
    padding: 30px 13px;
  }

  .dash-content .boxes {
    gap: 0;
  }

  .dash-testRecord {
    box-sizing: border-box;
  }

  .boxes .box .text {
    font-size: 5px;
  }

  .boxes .box .number {
    font-size: 50px;
  }
}

@media screen and (max-width: 390px) {
}
