@import url("template/reset.css");

/* --------------Dashboard------------- */

.dashboard {
  position: relative;
  left: 230px;
  /* background-color: rgb(255, 255, 255); */

  height: 100vh;

  width: calc(100% - 230px);
}

/* ----------------- */

.title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.title .text {
  width: 50%;
  font-size: 24px;
  font-weight: 500;
  color: rgb(148, 148, 148);
  margin-left: 10px;
}

.dash-content .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.dash-content .boxes .box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  border-radius: 12px;
  width: calc(100% / 3 - 25px);
  padding: 30px 20px;
  background-color: white;
  /* border: 1px solid grey; */

  box-shadow: 10px 11px 27px -11px rgba(0, 0, 0, 0.39);
}

.boxes .box i {
  font-size: 35px;
  color: white;
}

.boxes .box .text {
  white-space: nowrap;
  font-size: 30px;
  color: rgb(113, 113, 113);
}

.boxes .box .number {
  white-space: nowrap;
  font-size: 130px;
  font-weight: 500;
}

/* -------------RecordBox--------------- */

.icon-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row-text-box {
  margin-left: 5px;
}

.text-box {
  display: flex;
}

.dash-testRecord {
  /* border: 1px solid black; */
  margin: 30px;
}

.record-bigBox {
  /* border: 1px solid black; */
  display: flex;
  gap: 10px;

  flex-shrink: 1;
}

.smallBox {
  background-color: white;
  width: 50%;
  box-shadow: 10px 11px 27px -11px rgba(0, 0, 0, 0.39);
  padding: 20px;
  border-radius: 10px;
  font-size: 25px;
  line-height: 1.6;
}

.record-rows {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/*  */
