@import url('template/reset.css');

/* ------------------head-bn---------------- */
.head-bn {
  box-sizing: border-box;
  width: 100%;
  background-image: url('../svg/03_illustrator/03_PricingPage/top_dot.svg');
  background-size: cover;
}

.head-bn-outbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.head-bn-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
  color: #3c91e0;
}

.head-bn-textbox {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.head-bn-smallbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.head-bn-smallbox img {
  width: 12px;
}

.head-bn-btn-orange {
  margin-top: 20px;
  text-decoration: none;
  padding: 5px 20px;
  background-color: orange;
  color: white;

  border-radius: 10px;
  font-size: 24px;
  margin-bottom: 100px;
}

.head-bn-btn-orange:hover {
  box-shadow: -1px -1px 20px 0px rgba(0, 0, 0, 0.15);
}

/* ---------------第二個banner------------- */
.learn-ban-out {
  box-sizing: border-box;
  width: 100%;
  background-color: #3c91e0;
}

.learn-ban-in {
  width: 1200px;
  margin: 0 auto;
  padding: 100px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.learn-ban-in h2 {
  font-size: 30px;
  color: white;
  margin-bottom: 50px;
  font-weight: bold;
}

.learn-ban-in h3 {
  font-size: 24px;
  color: white;
  padding-bottom: 60px;
}

/* 第二個banner＿中間三個字卡 */
.learn-all-cardbox {
  display: flex;
  gap: 50px;
}

/*----------放大字卡---------- */
.learn-cardbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px 0;
}

.learn-cardbox h4 {
  font-size: 24px;
  color: #3c91e0;
  font-weight: bold;
}
.learn-cardbox img {
  width: 60%;
}

.learn-icon-textbox-all {
  display: flex;
  flex-direction: column;
}

.learn-icon-textbox {
  display: flex;
  gap: 10px;
  align-self: start;
  justify-content: center;

  margin-bottom: 20px;
}

.learn-icon-textbox img {
  width: 18px;
}

.learn-icon-textbox p {
  font-size: 12px;
  align-self: center;
}

/* ------------表格--------------- */
/* .compare-out {
} */

.compare-in {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
}

.compare-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #3c91e0;
}

.compare-subtitle {
  font-size: 30px;
  margin-bottom: 60px;
  color: #3c91e0;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 24px;
  outline: 0px solid rgb(33, 57, 82);

  color: white;
}

th,
td {
  padding: 30px 38px;
  text-align: center;
  outline: 1px solid rgb(128, 192, 255);
}
th {
  background-color: lightgray;
}

.row1 {
  background-color: #3c91e0;
}

.row-other {
  background-color: #ffffff;
  color: black;
}

@media screen and (max-width: 414px) {
  /* 第一個Banner */
  .head-bn {
    background-size: cover;
    background-attachment: fixed;
    background-image: none;
  }

  .head-bn-title {
    margin-top: 50px;
    font-size: 25px;
  }

  .head-bn-textbox {
    flex-direction: column;
  }
  /* 第二個Banner */
  .learn-ban-in {
    width: 85%;
    padding: 40px 0;
  }
  .learn-ban-in h2 {
    margin-bottom: 20px;
  }
  .learn-ban-in h3 {
    font-size: 10px;
  }
  .learn-all-cardbox {
    box-sizing: border-box;
    flex-direction: column;
  }

  .learn-cardbox {
    margin: 0 43px;
  }

  /* 第三個banner */

  .compare-in {
    width: 100%;
    padding: 20px;
  }

  .compare-title {
    font-size: 30px;
  }

  .compare-subtitle {
    font-size: 15px;
    margin-bottom: 10px;
  }

  table {
    font-size: 10px;
  }
  th,
  td {
    padding: 20px 18px;
  }
}

@media screen and (max-width: 390px) {
}
