/*  */

body {
  font-family: 'Noto Sans TC', sans-serif;
  box-sizing: border-box;
}

/* Button */
.btn-orange {
  display: inline-block;
  background-color: orange;
  padding: 9px 30px;
  color: white;
  font-size: 19px;
  text-decoration: none;
  border-radius: 6px;
}

.btn-orange:hover {
  box-shadow: -1px -1px 20px 0px rgba(0, 0, 0, 0.15);
}

.btn-blue {
  display: inline-block;
  outline: 1px solid #3c91e0;
  color: #3c91e0;
  padding: 9px 30px;

  font-size: 19px;
  text-decoration: none;
  border-radius: 6px;
}
